@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  font-family: Arial, sans-serif;
}

#pageTitle {
  margin-top: 20px;  /* Adjust the value as needed */
  font-weight: bold;     /* Makes the text bold */
  font-size: 2.0em;      /* Increases the font size, adjust as needed */
  margin-left: 40px; /* Align with the left edge of the graph-container */
  /* Add any other styles you need */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* Add more styling as needed */
}

.footerImage {
  margin-left: 40px;
  width: 140px;
}

#footerVersion {
  padding-right: 40px;
  font-size: 0.8em;
  font-weight: lighter;
}


#datePicker {
  display: flex;
  justify-content: left;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 360px;
  margin: 30px;
}

.custom-datepicker {
  background: url('/caret-down-regular.svg') no-repeat right;
  background-size: 14px 14px; /* Adjust size as needed */
  border: none;
  outline: none;
  padding: 10px;
  margin-left: 5px;
  font-size: 16px;
  width: 170px;
}

/* Hide the second date picker's border to make them look like a single element */
.custom-datepicker:nth-child(2) {
  border-left: 1px solid #ccc;
}

/* Adjust the react-datepicker styles */
.react-datepicker__input-container {
  display: block;
}

/* Style the calendar icon and the dropdown icon */
.react-datepicker__close-icon::after,
.react-datepicker__triangle {
  display: none;
}

/* Additional styles for the calendar to match your design if necessary */
.react-datepicker-popper {
  z-index: 10; /* Make sure it's above other content */
}

#viewOnStrava {
  display: flex;
  justify-content: right;
  padding-right: 20px;
  font-size: 0.8em;
  font-weight: lighter;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.parent-number-container {
  display: flex;
    flex-direction: row;
    justify-content: center; /* Centers children horizontally */
    width: 95%; /* Adjust as needed */
    margin: 20px;
}

.number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Set to auto or a fixed height depending on your needs */
  width: 90%; /* Adjust based on parent container */
  margin: 5px ; 
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  background: #fff; /* Assuming a white background */
  padding: 10px; /* Adjust as needed */
}

h1 {
  display: flex;
  align-items: center; /* Aligns the icon and text vertically */
  gap: 10px; /* Adds space between the icon and the text */
  font-size: 2em; /* Increases the font size of the title */
  margin-top: 20px;  /* Adjust the value as needed */
  font-weight: bold;     /* Makes the text bold */
  margin-left: 40px; /* Align with the left edge of the graph-container */
  /* Add any other styles you need */
}

h1 .fa-heartbeat {
  font-size: 1.5em; /* Adjust the icon size */
}

.icon {
  font-size: 2.5rem; /* Adjust icon size as needed */
  margin-bottom: 10px; /* Space between icon and number */
}

.total-distance {
  text-align: center;
}

.total-value {
  font-size: 2.5rem; /* Large font size for the total value */
  font-weight: bold; /* Making the total value bold */
  color: #000; /* Color for the number */
  margin-bottom: 5px; /* Space between value and title */
}

.total-title {
  font-size: 1rem; /* Smaller font size for the title */
  text-transform: uppercase; /* Capitalize the title */
  color: #6c757d; /* A grey color for the title */
  letter-spacing: 1px; /* More spacing between letters */
}

.divider {
  height: 1px;
  width: 40%; /* Length of the divider */
  background-color: #ccc; /* Color of the divider */
  margin-top: 15px; /* Space between title and divider */
}

.graph-container {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 95%;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.graph-container canvas {
  width: auto; /* Ensure the canvas can grow */
  height: auto; /* Responsive height */
  margin: 40px;
}

#fontAwesome {
  margin: 20px;
  font-size: 2em;
  overflow: hidden;
}

#totalTitle {
  margin-top: 10px;  /* Adjust the value as needed */
  font-size: 1em;      /* Increases the font size, adjust as needed */
  text-align: center;
  text-transform: uppercase;
}

#totalValue {
  font-family: 'Roboto Mono', monospace;
  margin-top: 0px;  /* Adjust the value as needed */
  font-weight: bold;     /* Makes the text bold */
  font-size: 2.8em;      /* Increases the font size, adjust as needed */
  text-align: center;
  /* Add any other styles you need */
}

#totalElevationGain {
  margin-top: 0px;  /* Adjust the value as needed */
  font-weight: bold;     /* Makes the text bold */
  font-size: 2em;      /* Increases the font size, adjust as needed */
  text-align: center;
}


