@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 211, 211, 211;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Arial, sans-serif;
}

.dynamic-font-size {
  font-size: clamp(1.5rem, 5vw, 2.5rem); /* Adjust values as needed */
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* Add more styling as needed */
}

.footerImage {
  margin-left: 5%;
  width: 140px;
}

#footerVersion {
  padding-right: 40px;
  font-size: 0.8em;
  font-weight: lighter;
}

.custom-datepicker {
  background: url('/caret-down-regular.svg') no-repeat right;
  background-size: 14px 14px; /* Adjust size as needed */
  border: none;
  outline: none;
  padding: 10px;
  margin-left: 5px;
  font-size: 16px;
  width: 140px;
}

/* Hide the second date picker's border to make them look like a single element */
.custom-datepicker:nth-child(2) {
  border-left: 1px solid #ccc;
}

/* Adjust the react-datepicker styles */
.react-datepicker__input-container {
  display: block;
}

/* Style the calendar icon and the dropdown icon */
.react-datepicker__close-icon::after,
.react-datepicker__triangle {
  display: none;
}

/* Additional styles for the calendar to match your design if necessary */
.react-datepicker-popper {
  z-index: 10; /* Make sure it's above other content */
}

#viewOnStrava {
  display: flex;
  justify-content: right;
  padding-right: 20px;
  font-size: 0.8em;
  font-weight: lighter;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

h1 {
  display: flex;
  align-items: center; /* Aligns the icon and text vertically */
  gap: 10px; /* Adds space between the icon and the text */
  font-size: 2em; /* Increases the font size of the title */
  margin-top: 20px;  /* Adjust the value as needed */
  font-weight: bold;     /* Makes the text bold */
  margin-left: 5%; /* Align with the left edge of the graph-container */
  /* Add any other styles you need */
}

h1 .fa-heartbeat {
  font-size: 1.5em; /* Adjust the icon size */
}

#fontAwesome {
  margin: 20px;
  font-size: 2em;
  overflow: hidden;
}

.icon {
  font-size: 2.5rem; /* Adjust icon size as needed */
  margin-bottom: 10px; /* Space between icon and number */
}



.divider {
  height: 1px;
  width: 40%; /* Length of the divider */
  background-color: #ccc; /* Color of the divider */
  margin-top: 15px; /* Space between title and divider */
}


.button-container {
  text-align: center; /* Center the button */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh; /* Adjust the height as needed */
  margin-bottom: 20px;
}

.analyze-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  cursor: pointer;
  height: 48px;
  width: 140px;
  line-height: 42px; /* Center text vertically */
  text-align: center; /* Center text for the Oura button */
  background-color: white; /* Optional: Background color for Oura button */
  color: black; /* Text color for Oura button */
  text-decoration: none; /* Remove underline from text */
  margin: 10px auto;
}

.analyze-button img {
  height: 20px; /* Adjust the size as needed */
  width: auto;
  margin-right: 8px; /* Adds some space between the icon and the text */
}

.analyze-button.disabled {
  /* Styles for disabled button, e.g., lower opacity, different color etc. */
  pointer-events: none; /* Prevents clicking */
  opacity: 0.6;
}

.loading-dots {
  display: inline-block;
  width: 1em; /* Adjust the width as needed */
  text-align: left;
}


.StravaAnalysis {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Stretch items to fill the container */
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: auto;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  height: 240px; /* Limit the height to the parent's height */
  overflow: auto; /* This will add a scrollbar when content overflows */
}

.ReadinessAnalysis {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Stretch items to fill the container */
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: auto;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  height: 240px; /* Limit the height to the parent's height */
  overflow: auto; /* This will add a scrollbar when content overflows */
}

.HRVAnalysis {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Stretch items to fill the container */
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: auto;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  height: 240px; /* Limit the height to the parent's height */
  overflow: auto; /* This will add a scrollbar when content overflows */
}

.parent-number-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.number-container {
  flex: 1; /* This will ensure equal width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Set to auto or a fixed height depending on your needs */
  margin: 20px; 
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  background: #fff; /* Assuming a white background */
  padding-bottom: 10px; /* Adjust as needed */
  padding-top: 10px;
}

.graph-container {
  margin: 0px;
  border-radius: 20px;
}

.graph-container canvas {
  width: auto; /* Ensure the canvas can grow */
  height: auto; /* Responsive height */
  margin: 20px;
}


/* Additional responsiveness */
@media (max-width: 768px) {
  .graph-container {
      flex-direction: column;
  }
  .graph-container canvas {
      max-height: 300px; /* Smaller max-height for smaller screens */
  }
}

.custom-legend-container {
  display: flex;
  flex-direction: row; /* Layout items in a row */
  flex-wrap: wrap; /* Allow items to wrap onto new lines */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  align-content: center; /* Center wrapped lines vertically within the container */
  width: 100%; /* Full width of its parent */
  padding: 10px;
  overflow: hidden; /* Adjust as needed */
}



.custom-legend-item {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Right margin for spacing between items */
  margin-bottom: 5px; /* Bottom margin for spacing between lines when wrapped */
  cursor: pointer;
  flex-shrink: 0; /* Prevents the legend items from shrinking too small */
}


.custom-legend-color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px; /* Adjust width as needed */
  height: 25px; /* Adjust height as needed */
  padding: 5px; /* Adds some padding inside the box */
  color: white; /* Ensures text color is white for better visibility on darker backgrounds */
  background-color: #000; /* Example background color, adjust as needed */
  border-radius: 10px; /* Rounded corners */
}


.custom-legend-color-box span {
  font-size: 10px; /* Set to your preferred size */
  color: white; /* Ensuring text color contrasts with the background */
}



/* Desktop View */
@media (min-width: 768px) {
  .content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; 
  }
}

/* Adjustments for smaller screens - ensure stacking and full width */
@media (max-width: 767px) {
  .content-container {
    display: block;
  }

}

