@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* Add more styling as needed */
}

.footerImage {
  margin-left: 5%;
  width: 140px;
}

#footerVersion {
  padding-right: 40px;
  font-size: 0.8em;
  font-weight: lighter;
}


#datePicker {
  display: flex;
  justify-content: left;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 360px;
  margin-left: 20px;
  margin-top: 20px
}

.custom-datepicker {
  background: url('/caret-down-regular.svg') no-repeat right;
  background-size: 14px 14px; /* Adjust size as needed */
  border: none;
  outline: none;
  padding: 10px;
  margin-left: 5px;
  font-size: 16px;
  width: 170px;
}

/* Hide the second date picker's border to make them look like a single element */
.custom-datepicker:nth-child(2) {
  border-left: 1px solid #ccc;
}

/* Adjust the react-datepicker styles */
.react-datepicker__input-container {
  display: block;
}

/* Style the calendar icon and the dropdown icon */
.react-datepicker__close-icon::after,
.react-datepicker__triangle {
  display: none;
}

/* Additional styles for the calendar to match your design if necessary */
.react-datepicker-popper {
  z-index: 10; /* Make sure it's above other content */
}

#viewOnStrava {
  display: flex;
  justify-content: right;
  padding-right: 20px;
  font-size: 0.8em;
  font-weight: lighter;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

h1 {
  display: flex;
  align-items: center; /* Aligns the icon and text vertically */
  gap: 10px; /* Adds space between the icon and the text */
  font-size: 2em; /* Increases the font size of the title */
  margin-top: 20px;  /* Adjust the value as needed */
  font-weight: bold;     /* Makes the text bold */
  margin-left: 5%; /* Align with the left edge of the graph-container */
  /* Add any other styles you need */
}

h1 .fa-heartbeat {
  font-size: 1.5em; /* Adjust the icon size */
}

#fontAwesome {
  margin: 20px;
  font-size: 2em;
  overflow: hidden;
}

.icon {
  font-size: 2.5rem; /* Adjust icon size as needed */
  margin-bottom: 10px; /* Space between icon and number */
}

.total-distance {
  text-align: center;
}

.total-value {
  font-size: 2.5rem; /* Large font size for the total value */
  font-weight: bold; /* Making the total value bold */
  color: #000; /* Color for the number */
  margin-bottom: 5px; /* Space between value and title */
}

.total-title {
  font-size: 1rem; /* Smaller font size for the title */
  text-transform: uppercase; /* Capitalize the title */
  color: #6c757d; /* A grey color for the title */
  letter-spacing: 1px; /* More spacing between letters */
}

.divider {
  height: 1px;
  width: 40%; /* Length of the divider */
  background-color: #ccc; /* Color of the divider */
  margin-top: 15px; /* Space between title and divider */
}

#totalTitle {
  margin-top: 10px;  /* Adjust the value as needed */
  font-size: 1em;      /* Increases the font size, adjust as needed */
  text-align: center;
  text-transform: uppercase;
}

#totalValue {
  font-family: 'Roboto Mono', monospace;
  margin-top: 0px;  /* Adjust the value as needed */
  font-weight: bold;     /* Makes the text bold */
  font-size: 2.8em;      /* Increases the font size, adjust as needed */
  text-align: center;
  /* Add any other styles you need */
}

#totalElevationGain {
  margin-top: 0px;  /* Adjust the value as needed */
  font-weight: bold;     /* Makes the text bold */
  font-size: 2em;      /* Increases the font size, adjust as needed */
  text-align: center;
}

.button-container {
  text-align: center; /* Center the button */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh; /* Adjust the height as needed */
  margin-bottom: 20px;
}

.analyze-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  cursor: pointer;
  height: 48px;
  width: 140px;
  line-height: 42px; /* Center text vertically */
  text-align: center; /* Center text for the Oura button */
  background-color: white; /* Optional: Background color for Oura button */
  color: black; /* Text color for Oura button */
  text-decoration: none; /* Remove underline from text */
  margin: 10px auto;
}

.analyze-button img {
  height: 20px; /* Adjust the size as needed */
  width: auto;
  margin-right: 8px; /* Adds some space between the icon and the text */
}

.analyze-button.disabled {
  /* Styles for disabled button, e.g., lower opacity, different color etc. */
  pointer-events: none; /* Prevents clicking */
  opacity: 0.6;
}

.loading-dots {
  display: inline-block;
  width: 1em; /* Adjust the width as needed */
  text-align: left;
}

.graph-container {
  margin: 20px;
  border-radius: 20px;
}

.graph-container canvas {
  width: auto; /* Ensure the canvas can grow */
  height: auto; /* Responsive height */
  margin: 20px;
}

.analysis-container {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack button and analysis box vertically */
  justify-content: space-between; /* This will put space between button and analysis box */
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto; /* Add vertical scrolling if necessary */
  max-width: 50%;
}

.strava-analysis-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Space before Oura graphs */
  margin-right: 20px;
  align-items: stretch; /* This will make children stretch to fill the container height */

}

.strava-chart {
  flex: 1;
  margin: 20px; /* Adjust as needed */
  border: 1px solid #ddd;
  border-radius: 20px;
}

.analysis-container {
  flex: 1;
  margin: 20px; /* Adjust as needed */
  border: 1px solid red;
  border-radius: 20px;
}

.analysis-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px; /* Space between chart and analysis section */
  padding-top: 20px;
  
}

.StravaAnalysis {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Stretch items to fill the container */
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: auto;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 240px; /* Limit the height to the parent's height */
  overflow: auto; /* This will add a scrollbar when content overflows */
}

.ReadinessAnalysis {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Stretch items to fill the container */
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: auto;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 240px; /* Limit the height to the parent's height */
  overflow: auto; /* This will add a scrollbar when content overflows */
}

.parent-number-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.number-container {
  flex: 1; /* This will ensure equal width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Set to auto or a fixed height depending on your needs */
  margin: 20px; 
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  background: #fff; /* Assuming a white background */
  padding-bottom: 10px; /* Adjust as needed */
  padding-top: 10px;
}

/* Desktop View */
@media (min-width: 768px) {
  .content-container {
    display: flex;
    justify-content: space-between;
  }
  .graph-container, .analysis-container {
    flex: 1;
    max-height: 370px; /* Example maximum height */
    /* Add more styles as needed */
  }
}

/* Mobile View */
@media (max-width: 767px) {
  .content-container {
    display: block;
  }
  .strava-analysis-container {
    flex-direction: column;
  }
  .strava-chart, .analysis-container {
    margin-right: 0;
    margin-bottom: 0px; /* Add some space between the chart and the analysis container */
  }
}

